header {
    background-color: #CCFFFF;
    font-weight: bold;
    min-height: 15vh;
}

.row.menu {
    background-color: #003333;
    border-right: solid;
    border-right-width: thin;
    border-color: black;
    color: white;
    min-height: 5vh;
}

.row.columns {
    min-height: 50vh;
}

footer {
    background-color: #003333;
    color: white;
    min-height: 15vh;
}

.row.column13small {
    min-height: 30vh;
}


